:root {
	--maroon: #C8094F;
	--light-blue: #00A0C8;
	--dark-blue: #0A5078;
	--yellow: #FAB400;
	--green : #00c80a;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

body{
	display: flex;
	justify-content: center;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-height: 10vh;
	padding: 2rem 0;
}

header img {
	height: 100%;
	/* width: 20%; */
}

header p {
	font-size: 1.5rem;
}

form {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 1rem;
	width: 80%;
}

form input,form  select , form button{
	padding: 1rem;
	border-radius: .5rem;
}

form button {
	background: var(--dark-blue);
	color: white;
	font-weight: 900;
}

#habits {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

@media  (min-width: 480px) {
	main {
		width: 65%;
	}
	header {
		justify-content: space-between;
		width: 100%;
	}
}

.habit-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 2rem;
	padding: 2rem;
	max-width: 300px;
	background: var(--green);
	border-radius: .5rem;
}

.habit-card img {
	border-radius: 50%;
	width: 50%;
}

.habit-name {
	text-transform: capitalize;
	font-size: 1.5rem;

}

.habit-card-good {
	background: var(--yellow);
}
.habit-card-bad {
	background: var(--green);
}